*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right, #d3c1ff, #d9d9d9);
    background-repeat: no-repeat;
    height: 90.5vh;
}


#login-bg{
    margin-top: 7%;
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
    background-image: url("../rsc/bg-form.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

#form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 0 10px;
    color: rgb(30, 0, 74);
}

#form h2{
   
    text-align: center;
    padding-top: 10%;
    padding-bottom: 0%;
}

#form #logo{
    text-align: center;
    font-size: 150px;
}

#login-bg #btns a{
    color: rgb(30, 0, 74);
    background-color: white;
    margin-top: 2%;
    font-weight: bold;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.23);
    transition: 0.5s;
}

#login-bg #btns a:hover{
    color: white;
    background-color: rgb(30, 0, 74);
}

#login-bg #btns a:not(:last-child){
    margin-left: 75%;
    margin-right: 2%;
}

#login-bg p{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 0;
}

#login-bg .desc p{
    margin-top: 7%;
    width: 90%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
